google-api-python-client
langchain
langchain_chroma
langchain-ollama
python-dotenv
flask
flask-cors
pandas
nltk
streamlit
colorama
protobuf
plotly
matplotlib
wordcloud
unidecode 
langdetect 
emoji
langchain_core
langchain_ollama
langchain_community
torch
transformers
ml-dtypes